.box{
    width: 400px;
    height: 400px;
    color: rgb(255, 255, 255);
    text-align: center;
    border: 5px dashed rgb(0, 0, 0);
    padding-top: 10px;
    margin: 50px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    --g: 4px;     /* the gap */
    --b: 12px;    /* border thickness*/
    --c: rgb(243, 247, 7); /* the color */
    
    
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
      var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
      var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
    background-color:rgb(242, 255, 2);
  }
  .box:hover {
    --_p: 75%;
    filter: grayscale(0%);
    box-shadow: 25px 25px 20px black ;
    background-color:rgb(239, 147, 10);
  }
body {
    background: pink;
  }
